<%= form_for ([:user, @player]) do |f| %>
    <h2>Players:</h2>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :player_number %>
    <%= f.number_field :player_number%>
    <%= f.collection_select(:player_id, current_user.players, :id, :name) %>

    <%= f.submit %>
<%end%>

<br>
<%= link_to "Go To Players", user_players_path %>
</br>
<br>
<%= link_to "Welcome Page", user_session_path %>
</br>