<%= form_for (@player) do |f| %>
    <h2>Players:</h2>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :player_number %>
    <%= f.number_field :player_number%>
    <%= f.label :starter %>
    <%= f.check_box :starter %>
<%= f.fields_for :match do |ff| %>
    <%= ff.label :match_date %>
    <%= ff.date_field :match_date %>

<%end%>
<%= f.submit %>
<%end%>

<br>
<%= link_to "Go To Players", user_players_path %>
</br>
<br>
<%= link_to "Welcome Page", user_session_path %>
</br>