<%= form_for ([:user, @player]) do |f| %>
    <h2>Players:</h2>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :player_number %>
    <%= f.number_field :player_number%>
    <%= f.fields_for :match, @player.match do |p| %>
<%= p.text_field :match_number %>
  <% end %>
    <%= f.submit %>
<%end%>

<br>
<%= link_to "Go To Players", user_players_path %>
</br>
<br>
<%= link_to "Welcome Page", user_session_path %>
</br>