<h1>Match:</h1>
<%= form_for(@match) do |f| %>
<%= f.label :valid_match %>
<%= f.check_box :valid_match %>

<%= f.fields_for :player do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

<%end%>
<%= f.submit "Save" %>
<%end%>

<br>
<%= link_to "Go To Matches", user_matches_path(current_user) %>
</br>
<br>
<%= link_to "Welcome Page", user_session_path %>
</br>
