<h2>Match:</h2>
<%= form_for match do |f| %>
<%= f.label :match_number %>
<%= f.number_field :match_number %>
<%= f.label :match_date%>
<%= f.date_field :match_date %>

<%= f.fields_for :players do |player| %>
    <p>
        <h2>Players:</h2>
        <%= player.collection_select :player_id, Player.all, :id, :name, :player_number %>
    </p>
<%end%>
<%= f.submit%>
<%end%>

<br>
<%= link_to "Go To Matches", matches_path %>
</br>