<h1>Match:</h1>
<%= form_for([@user, @match]) do |f| %>
<%= f.label :match_number %>
<%= f.number_field :match_number %>
<%= f.label :match_date%>
<%= f.date_field :match_date %>


<%= f.collection_check_box player_ids, user.players, :id, :name, value: true %>


<%= f.submit "Save" %>
<%end%>

<br>
<%= link_to "Go To Matches", user_matches_path(current_user) %>
</br>
<br>
<%= link_to "Welcome Page", user_session_path %>
</br>