<h1>Match: <%= @match.match_number %></h1>
<h3>Match: <%= @match.match_date %></h3>

<br>
<%= link_to "Edit This Match", edit_user_match_path %>
</br>
<br>
<%= link_to "Go To Matches", user_matches_path %>
</br>
<br>
<%= link_to "Go To Welcome Page", user_session_path %>
</br>
<br>
<%= button_to "Delete This Match", user_match_path(@match), method: :delete %>
</br>