<!DOCTYPE html>
<html>
  <head>
    <title>TournamentApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>
  <body>
    <%= render 'layouts/alerts'%>
    <%= render 'layouts/nav'%>
    <%= yield %>
    
  </body>
</html>
